{{- define "main" }}

<article class="post-single">
  <header class="post-header">
  </header>
  <div align="center"; class="post-content">
    <p>I would be more than <span style="background-color:#87cdffdf">thrilled</span> to talk to you.</p>
    <p>Head to my calendar below and select a time for a chat. </p>
    <p>♡</p>
  </div>
  <!-- Calendly inline widget begin -->
  <div class="calendly-inline-widget" data-url="https://calendly.com/jonathangoc/30minfriendlychat?hide_event_type_details=1&hide_gdpr_banner=1&primary_color=37a6f5" style="min-width:320px;height:680px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
  <!-- Calendly inline widget end -->
</article>

{{- end }}{{/* end main */}}
